header {
    margin: 0 20%;
}

h1 {
    text-align: center;
}


header nav ul{ 
    
    list-style: none;
    display: flex;
    justify-content: space-around; /* Adjust spacing as needed */
    padding: 0;
    
}

header nav {
    border-style: groove;
    
}


body {
    background-color: cornflowerblue;
}


main h1 {
    margin: 0 20%;
    margin-top: 2.5%;
    padding: 2%;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 
}

section h2 {
    text-align: center;
}

.project_poster_and_date {
    text-align: center;
}

section:first-of-type {
    margin-top: 2.5%;
}

section {
    background-color: #4f8eff;
    border-style: groove;
    margin: 5% 20%;
    padding: 0 40px;
}

footer {
    margin: 0 20%;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 
    padding-top: 10px; 
}

footer ul {
    padding: 0 20px;
}

footer li {
    list-style-position: inside; 
    display: inline;
  }
